<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.mappers.ContactMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert
		into contact (
		id, lastName, firstName, phone, email
		) values (
		#{id}, #{lastName}, #{firstName}, #{phone}, #{email}
		)
	</insert>

	<update id="update">
		update contact set
		lastName = #{lastName},
		firstName = #{firstName},
		phone = #{phone},
		email = #{email}
		where id = #{id}
	</update>

	<delete id="delete">
		delete from contact
		where id = #{value}
	</delete>

	<select id="selectAll" resultType="contact">
		select
		id, lastName, firstName, phone, email
		from contact
	</select>

	<select id="select" resultType="contact">
		select
		id, lastName, firstName, phone, email
		from contact
		where id = #{value}
	</select>

</mapper>
